{% include base_path %}

{% assign folder = include.dir | prepend: "/images/" | append: "/" %}
{% assign files_in_dir = site.static_files | where_exp: "f", "f.path contains folder" %}

{% assign count = 0 %}
{% for f in files_in_dir %}
  {% assign ext = f.extname | downcase %}
  {% if ext == ".jpg" or ext == ".jpeg" or ext == ".png" or ext == ".gif" or ext == ".webp" or ext == ".avif" %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if count == 2 %}
  {% assign gallery_layout = 'half' %}
{% elsif count >= 3 %}
  {% assign gallery_layout = 'third' %}
{% else %}
  {% assign gallery_layout = '' %}
{% endif %}

<figure class="{{ gallery_layout }} {{ include.class }}">
  {% for f in files_in_dir %}
    {% assign ext = f.extname | downcase %}
    {% if ext == ".jpg" or ext == ".jpeg" or ext == ".png" or ext == ".gif" or ext == ".webp" or ext == ".avif" %}
      {% assign filename = f.name | split: "." | first %}
      {% assign alt = filename | replace: "-", " " | replace: "_", " " | strip | capitalize %}
      <a href="{{ f.path | prepend: base_path }}" title="{{ alt }}">
        <img src="{{ f.path | prepend: base_path }}" alt="{{ alt }}">
      </a>
    {% endif %}
  {% endfor %}
  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>


